<%= simple_form_for @spot, remote: true do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
  <div class="add-a-spot">
    <div class="back-button">
      <%= link_to spots_path do %>
        <i class="fas fa-arrow-circle-left"></i>
      <% end %>
    </div>
    <h1 class="text-center">Add a Spot</h1>
    <div id="spot-input">
      <%= f.input :name %>
      <%= f.input :description %>
      <%= f.input :category, as: :radio_buttons, collection: ['spot', 'shop'] %>
    </div>
    <div id="spot-btn-upload">
      <%= f.input :photos, as: :file, input_html: { multiple: true, onChange: "Rails.fire(this.form, 'submit')" } %>
    </div>
      <%= f.input :address %>
    <div id="spot-btn-create">
      <%= f.button :submit, 'Add spot'%>
    </div>
  </div>
<% end %>
