<% videos.each do |video| %>
  <div class="card-video mb-5">
    <%= cl_video_tag(video.video.key, controls: true, width: 300, class: "card-img-top") %>
    <div class="video-infos" id="video-<%= video.id %>">
      <div>
      <%= link_to user_path(video.user.id) do  %>
      <%= cl_image_tag video.user.photo.attached? ? cl_image_path(video.user.photo.key) : image_path("https://mobilityoi.org/wp-content/uploads/2015/06/Avatar-No-Photo-generic.jpg"), class: "avatar-bordered" %>
      <% end %>
      </div>
      <div>
        <p><i class="fas fa-quote-left"></i> <%= video.caption.capitalize %></p>
        <p>Uploaded by: <%= video.user.username %></p>
      </div>
      <div class="d-flex align-items-center justify-content-center">
        <p class="mr-5"><%= video.votes %></p>
        <%= link_to upvote_path(video) do %>
          <p><i class="fas fa-thumbs-up"></i></p>
        <% end %>
      <%= render 'comments/modal' %>
      </div>
    </div>
  </div>
<% end %>
