<%= render 'shared/search' %>

<div id="map"
  style="width: 100vw; height: 56vh;"
  data-markers="<%= @markers.to_json %>"
  data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
</div>

<div data-controller="carousel" class="swiper-container">
  <div class="swiper-wrapper">
    <% @spots.each do |spot| %>
    <div class="swiper-slide">
      <div class="card" style="width: 100vw; height: 29vh; background-color: #222831;">
        <%#=link_to image_tag(spot.photos[0], style: 'height: 23vh; width: 100vw;'), spot %>
        <div style="height: 23vh;">
        <%#= link_to spot do %>
        <%= spot.photos.attached? ? cl_image_tag(spot.photos[0].key) : image_tag(spot.photos[0])%>
        <%# end %>
        </div>
        <div class="card-body">
          <h4 class="text-shadow" ><%= link_to spot.name.capitalize, spot %></h4>
        </div>


      </div>

    </div>
    <% end %>
  </div>
</div>
