<%= form_tag spots_path, method: :get do %>
  <div class="d-flex">
    <%= text_field_tag :query,
      params[:query],
      class: "form-control",
      placeholder: "Find a spot"
    %>
    <%= radio_button_tag(:spot, "park") %>
      <%= label_tag(:spot_park, "Spots") %>
    <%= radio_button_tag(:shop, "shop") %>
      <%= label_tag(:spot_shop, "Shops") %>
    <%= submit_tag "Search", class: "btn btn-danger" %>
  </div>
<% end %>
<br>

<div id="map"
  style="width: 100vw; height: 57vh;"
  data-markers="<%= @markers.to_json %>"
  data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
</div>

<div data-controller="carousel" class="swiper-container">
  <div class="swiper-wrapper">
    <% @spots.each do |spot| %>
    <div class="swiper-slide">
      <div class="card" style="width: 100vw; height: 30vh; background-color: #222831;">
        <%#=link_to image_tag(spot.photos[0], style: 'height: 23vh; width: 100vw;'), spot %>
        <div style="height: 23vh;">
        <%#= link_to spot do %>
        <%= spot.photos.attached? ? cl_image_tag(spot.photos[0].key) : image_tag(spot.photos[0])%>
        <%# end %>
        </div>
        <div class="card-body">
          <h4 class="text-shadow" ><%= link_to spot.name.capitalize, spot %></h4>
        </div>


      </div>

    </div>
    <% end %>
  </div>
</div>
