<div class="container mt-5">
  <h1><%= @spot.name %></h1>
  <p><%= @spot.description %></p>
  <p><%= @spot.address %></p>
    <div class="d-flex ">
      <% @spot.photos.each do |photo| %>
        <%= image_tag(photo, style: 'height: auto; width: 350px;') %>
      <% end %>
    </div>
  <%= link_to "Upload Video", new_spot_video_path(@spot), class: "btn btn-primary mt-3" %>
</div>

<div class="container mt-5">
  <h1>Top Video</h1>
  <% @videos.each do |video| %>
    <%= video.caption %>
  <% end %>

</div>
