<%= render 'shared/search' %>
<%= render 'spot-details' %>
<%= render 'spot-category-shop' %>
<%= render 'spot-category-spot' %>
<% if current_user && current_user.spot_id != @spot.id %>
  <div style="display: none">
    <%= simple_form_for current_user, html: {id:"check-in-form"}, remote: true do |f| %>
      <%= f.input :spot_id, input_html: {value: @spot.id} %>
      <%= f.button :submit %>
    <% end %>
  </div>
<% end %>
