<div class="spot">
  <div class="show-head">
    <h1><%= @spot.name %></h1>
    <p></i><%= @spot.description %></p>
    <p><i class="fas fa-map-marker-alt" id="marker"></i> <%= @spot.address %></p>
  <div data-controller="carousel" class="swiper-container" id="show">
    <div class="swiper-wrapper">
    <% if @spot.photos.attached? %>
      <% @spot.photos.each do |photo| %>
        <div class="swiper-slide">
          <%= cl_image_tag(photo.key, crop: "fill")%>
        </div>
      <% end %>
    <% else %>
    <% @spot.photos.each do |photo| %>
      <div class="swiper-slide">
        <%= image_tag(photo, crop: "fill")%>
      </div>
    <% end %>
    <% end %>
    </div>
  </div>
  </div>
</div>


<div class="">
  <%= link_to "Upload Video", new_spot_video_path(@spot), class: "btn btn-gradient mt-3" %>
</div>

<div class="">
  <h2>Top Video</h2>
  <% @video.each do |video| %>
    <%= video.caption %>
  <% end %>
</div>
