<%= render 'shared/search' %>
<%= render 'spot-details' %>
<% if @spot.category == "spot" %>
  <div class="btn-upload mb-3">
    <%= link_to "Upload Video", new_spot_video_path(@spot), class: "btn btn-gradient" %>
  </div>
  <% if @spot.videos.empty? %>
    <p class="text-center">No videos. Be the first to add one!</p>
  <% else %>
    <h2 class="ml-5 mt-3">Top Video</h2>
    <div class="card-video">
      <%= render 'top_video', spot: @spot, top_video: @top_video %>
      <%# VIDEOS  %>
      <h2 class="ml-5 mt-3">Videos</h2>
      <%= render 'videos', spot: @spot, videos: @videos %>
    </div>
  <% end %>
<% end %>
