<div class="navbar navbar-expand-sm navbar-light navbar-lewagon flex-nowrap">
  <% if current_user.nil? %>
    <%= cl_image_tag image_path("https://mobilityoi.org/wp-content/uploads/2015/06/Avatar-No-Photo-generic.jpg"), class: "avatar-bordered ml-2" %>
  <% else %>
    <%= cl_image_tag current_user.photo.attached? ? cl_image_path(current_user.photo.key) : image_path("https://mobilityoi.org/wp-content/uploads/2015/06/Avatar-No-Photo-generic.jpg"), class: "avatar-bordered ml-2" %>
  <% end %>

  <div class="container d-flex align-items-center">
    <div class="container justify-content-end mt-2 mr-3">
      <p><%= link_to "New spot", new_spot_path %></p>
      <%= link_to new_spot_path do %>
        <p><i class="fas fa-plus mx-2"></i></p>
      <% end %>
      <%= link_to spots_path do %>
        <%= image_tag "sk8it-logo.png", class: "ml-4 pb-3 icon-navbar" %>
      <% end %>
    </div>
  </div>
</div>
