<div class="navbar navbar-expand-sm navbar-light navbar-lewagon flex-nowrap">
  <% if current_user.present? %>
    <div class="dropdown">
      <button class="dropbtn">
        <%= cl_image_tag current_user.photo.attached? ? cl_image_path(current_user.photo.key) : image_path("https://mobilityoi.org/wp-content/uploads/2015/06/Avatar-No-Photo-generic.jpg"), class: "avatar-bordered ml-2" %>
      </button>
      <div id="myDropdown" class="dropdown-content">
        <%= link_to "My Profile", dashboard_videos_path %>
        <%= link_to "Edit Profile", edit_user_registration_path %>
        <%= link_to "Log out", destroy_user_session_path, method: :delete %>
      </div>
    </div>
  <% end %>

  <div class="container d-flex align-items-center">
    <div class="container justify-content-end mr-2">
      <p><%= link_to "New spot", new_spot_path %></p>
      <%= link_to new_spot_path do %>
        <p><i class="fas fa-plus ml-2 mr-4"></i></p>
      <% end %>
      <%= link_to spots_path do %>
        <p><i class="fas fa-home mx-2"></i></p>
      <% end %>
    </div>
  </div>
</div>
