<div class="navbar flex-nowrap navbar-expand-sm navbar-light">
  <% if current_user.present? %>
    <div class="dropdown">
      <button class="dropbtn">
        <%= cl_image_tag current_user.photo.attached? ? cl_image_path(current_user.photo.key) : image_path("https://mobilityoi.org/wp-content/uploads/2015/06/Avatar-No-Photo-generic.jpg"), class: "avatar-bordered ml-2" %>
      </button>
      <div id="myDropdown" class="dropdown-content">
        <%= link_to "My Profile", dashboard_videos_path %>
        <%= link_to "Edit Profile", edit_user_registration_path %>
        <%= link_to "Log out", destroy_user_session_path, method: :delete %>
      </div>
    </div>
    <div class="container justify-content-end mr-2">
      <p style="word-spacing: 4px"><%= link_to "New Spot", new_spot_path %></p>
      <%= link_to new_spot_path do %>
        <p><i class="fas fa-plus ml-2 mr-4"></i></p>
      <% end %>
      <%= link_to spots_path do %>
        <p><i class="fas fa-map-marked-alt"></i></p>
      <% end %>
    </div>
  <% else %>
    <div class="container d-flex mb-2">
      <span class="mr-auto p-2"><%= link_to image_tag("sk8it-logo.png"), spots_path %></span>
      <span class="p-2"><%= link_to "Log In", new_user_session_path, class: "btn btn-gradient navbar-login" %></span>
      <span class="p-2"><%= link_to "Sign Up", new_user_registration_path, class: "btn btn-gradient navbar-signup" %></span>
    <% end %>
  </div>
</div>
