<div class="container mt-3 text-center">
  <div class="card-profile">
    <%= cl_image_tag current_user.photo.attached? ? cl_image_path(current_user.photo.key) : image_path("https://mobilityoi.org/wp-content/uploads/2015/06/Avatar-No-Photo-generic.jpg"), class: "avatar-large" %>
    <h1 class="mt-3"><%= "#{current_user.username}" %></h1>
    <h2><%= "#{current_user.email}" %></h2>
  </div>
  <br>
  <div class="container mb-3">
    <% if current_user.videos.present? %>
      <h1>Your Videos</h1>
      <% current_user.videos.each do |video| %>
        <div class="card-video mb-5">
          <%= cl_video_tag(video.video.key, controls: true, width: 300, class: "card-img-top") %>
          <div class="video-infos" id="video-<%= video.id %>">
            <div>
              <p><i class="fas fa-quote-left"></i> <%= video.caption.capitalize %></p>
            </div>
            <div class="d-flex align-items-center justify-content-center">
              <p class="mr-5"><%= video.votes %></p>
              <p><i data-video-id="<%= video.id %>" class="fas fa-comments comment-list"></i></p>
            </div>
          </div>
        </div>
        <div class="comments" id="comments-<%= video.id %>" >
          <% video.comments.each do |comment| %>
            <i class="fas fa-quote-left"></i><p><em><%= comment.comment %></em></p>
          <% end %>
        </div>
      <% end %>
    <% else %>
      <div class="container">
        <h2>You haven't uploaded any videos yet!</h2>
      </div>
    <% end %>
  </div>
</div>
